.signup-form {
  width: 60rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 0;
  transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  background: transparent;
  z-index: 200;
}

.container.change .signup-form {
  left: 40rem;
}

.signup-form h1 {
  font-size: 4rem;
  color: #3aaf9f;
}

.social-media {
  display: flex;
}

.social-media i,
.social-media svg {
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  font-size: 2rem;
  color: #555;
}

.signup-form p {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 2rem;
}

.input-group {
  position: relative;
  margin-bottom: 2rem;
}

.input-group input {
  width: 28rem;
  height: 5rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #ddd;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #555;
}

.signup-form button {
  width: 16rem;
  height: 5rem;
  background-color: #3aaf9f;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: 3rem;
  cursor: pointer;
  font-size: 1.6rem;
}